<!DOCTYPE html>  
<html lang="en" data-ng-app="CurrencyExchanger">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./dist/css/bootstrap-grid.css">
  <link rel="stylesheet" href="./dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="./dist/css/bootstrap.css">
  <link rel="stylesheet" href="./dist/css/style.css">
</head>
<body data-ng-controller="CurController">
  <form class="w-50 p-3 main-form">
    <div class="col-11 input-wrapper">
      <p>You give</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <select ng-model="inCurr" class="form-control">
              <option data-ng-repeat="item in list">{{item.ccy}}</option>
          </select>
        </div>
        <input ng-model="giveCur" type="number" min="0" class="form-control">
      </div>
      <button ng-click="changeValues()">&#8660;</button>
      <p>You get</p>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                <select ng-model="outCurr" class="form-control">
                    <option data-ng-repeat="item in list">{{item.ccy}}</option>
                </select>
            </div>
            <input ng-model="showBuy()" type="text" class="form-control">
      </div>
    </div>
    <fieldset class="form-group col-11">
        <h2 class="col-form-label col-sm-5 pt-0">Сommission</h2>
        <div class="col-sm-8 d-flex justify-content-sm-around ">
            <div class="form-check">
                <input ng-model="commision" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="0" checked>
                <label class="form-check-label" for="gridRadios1">
                  0%
                </label>
              </div>
          <div class="form-check">
            <input ng-model="commision" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="1" checked>
            <label class="form-check-label" for="gridRadios2">
              1%
            </label>
          </div>
          <div class="form-check">
            <input ng-model="commision" class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="3">
            <label class="form-check-label" for="gridRadios3">
              3%
            </label>
          </div>
          <div class="form-check">
              <input ng-model="commision" class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="5">
              <label class="form-check-label" for="gridRadios4">
                5%
              </label>
            </div>
        </div>
    </fieldset>
    <div class="form-group row exchange-wrapper">
      <button type="submit" class="btn w-25 btn-secondary">Exchange</button>
    </div>
  </form>
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./dist/app.js"></script>
</body>

</html>