
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}
.jumbotron {
  background-color: white;
}
$background-color: #BDE4D1;
$font-color: #505653;
$border: 2px $font-color solid;
$radius: 5px;

body {
  background-color: $background-color;
  font-size: 22px;
  color: $font-color;
}

.height-35 {
  height: 35px;
  width: 100%;
}

.percents {
  margin: 0 15px 0 15px;
}

.main-form {
  background-color: white;
  margin: 0 auto;
  border: $border;
  border-radius: $radius;
  font-size: 20px;
  .input-wrapper {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .form-control {
    color: $font-color;
    height: 35px;
  }
  .form-check-input {
    margin-top: 0.76rem;
  }
  .form-check {
    padding: 0;
  }

  fieldset {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
  }
  .exchange-wrapper {
    margin :0 30px;
  }
  .check-wrapper {
    margin-bottom: 25px;
  }
}