<div class="container">
  <form class="w-50 p-3 main-form">
      <div class="col-11 input-wrapper">
        <p>You give</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="form-control" ng-model="inCurr" ng-options='item.ccy for item in list | currencyFilter: outCurr'>
              </select>
          </div>
          <input ng-model="giveCur" type="number" min="0" class="form-control">
        </div>
        <button class="btn btn-secondary" ng-click="swapValues()">&#x21c5;</button>
        <p>You get</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="form-control" ng-model="outCurr" ng-options='item.ccy for item in list | currencyFilter: inCurr'>
              </select>
            </div>
            <input ng-model="showPrice()" type="text" class="form-control">
        </div>
      </div>
      <fieldset class="form-group col-11">
          <h2 class="col-form-label col-sm-5 pt-0">Сommission</h2>
          <div class="col-sm-8 d-flex justify-content-sm-around check-wrapper">
            <div data-ng-repeat="fee in fees" class="form-check">
              <input ng-model="$parent.chosenFee" class="form-check-input" type="radio" ng-value="fee" name="gridRadios">
              <label class="form-check-label" for="gridRadios1">
                {{fee}}%
              </label>
            </div>
          </div>
          <select ng-model="selection" class="form-control" id="exampleFormControlSelect1">
              <option>Buy</option>
              <option>Sell</option>
          </select>
      </fieldset>
      <div class="form-group row exchange-wrapper">
        <button type="submit" class="btn w-25 btn-secondary">Exchange</button>
      </div>
    </form>
</div>